#include "nsh/defconfig"
CONFIG_16550_UART0_BASE=0xF4000000
CONFIG_16550_UART0_IRQ=26
CONFIG_ARCH_CHIP_QEMU_RV_CLUSTER=y
CONFIG_ARCH_CHIP_QEMU_RV_PLIC=0xF0000000
CONFIG_ARCH_FPU=n
CONFIG_ARCH_USE_S_MODE=y
CONFIG_FS_HOSTFS=n
CONFIG_LIBC_FLOATINGPOINT=y
CONFIG_RAM_START=0x0
CONFIG_RISCV_SEMIHOSTING_HOSTFS=n
